.paper {
  width: 100%;
  height: 12.5rem;

  @media screen and (max-width: 50.94rem) {
    max-width: 80%;
  }
}

.book-list-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  overflow: hidden;

  .cover {
    display: flex;
    padding: 0.5rem;
    width: 35%;
    min-width: 8rem;
    height: 100%;
    box-sizing: border-box;
    border-right: 0.0625rem solid rgba(0,0,0,.2);
    
    .image {
      width: 100%;
      height: 100%;
      overflow: hidden;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: top center;
    }
  }

  .card-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: flex-start;
    width: 65%;
    height: 100%;
    padding: 0.3125rem 0.3125rem 0.3125rem 0.625rem;
    box-sizing: border-box;

    h1, div, p, header {
      display: inline-flex;
    }

    header {
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
      margin-bottom: 0;

      h1 {
        margin: 0;
        display: inline;
        line-height: 1.375rem;
        font: normal 1.125rem 'robotoregular';
      }

      .favorite {
        
        button {
          background: none;
          border: none;
          cursor: pointer;
          outline: none;

          i {
            color: #F44336;
          }
        }
      }
    }

    ul.authors {
      margin: 0;
      padding: 0;
      
      li {
        float: left;
        margin: 0;
        list-style-type: none;
        font: normal 0.875rem 'robotolight_italic';

        &:after {
          content: ', ';
          white-space: pre;
        }

        &:last-child:after {
          content: '';
        }
      }
    }

    .author {
      font: normal 0.875rem 'robotolight_italic';
    }

    .published-date {
      margin: 0 0 0.1875rem 0;
      font: normal 0.875rem 'robotoregular';
      color: #4d6a80;
    }

    .description {
      display: inline-block;
      font: normal 0.75rem 'robotoitalic';
      width: 100%;
      margin: 0.3125rem 0 0.3125rem 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
