@import '../../../styles/variables.less';

.book-list {
  width: 100%;
  height: 100%;
  max-width: @max-width-component;
  margin: 0 auto;
  padding: 0;
  border-radius: 0.25rem;
  
  .bg-paper {
    width: 100%;
    height: 100%;
    min-height: 43.75rem;
    padding: 7.5rem 2.5rem 0 2.5rem;
    background: linear-gradient(#fff, #E0F7FA);
    border-radius: 0.25rem;
    opacity: 0;
    border-bottom-left-radius: 0.3125rem;
    border-bottom-right-radius: 0.3125rem;
    box-shadow: 0 0.125rem 0.125rem rgba(0,0,0,.2);
    transition: opacity 1s;
    overflow: hidden;
    box-sizing: border-box;
 
    &.opacity-1 {
      opacity: 1;
    }

    > header {
      margin-bottom: 1.25rem;
      
      .label-found {
        font: normal 1rem 'robotoregular';
        color: #424242;
      }
    }
    
    .list-container {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;

      ul.book-cards {
        display: flex;
        flex-flow: column nowrap;
        margin: 0;
        padding: 0;
        width: 47%;
        
        > li {
          list-style-type: none;
          margin-bottom: 1.875rem;
        }
      }

      @media screen and (max-width: 50.94rem) {
        flex-flow: column nowrap;
        align-items: center;
        
        ul.book-cards {
          justify-content: flex-start;
          width: 95%;
          
          li {
            display: flex;
            justify-content: center;
          }
        }
      }
    }
  }

  label {
    display: flex;
    margin-bottom: 0.3125rem;
  }

  input {
    display: inline-flex;
    margin-right: 0.625rem;
    width: 12.5rem;
  }

  .checkbox {
    flex-flow: row nowrap;
    width: 90%;
    margin-bottom: 0.25rem;

    label, input {
      display: inline-flex;
      width: auto;
    }
  }

  .highlight {
    background: #ff0;
  }
}
