.search-books {
  flex-flow: row wrap;
  justify-content: space-between;
  width: 400px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #dedede;

  label {
    display: flex;
    margin-bottom: 5px;
  }

  input {
    display: inline-flex;
    margin-right: 10px;
    width: 200px;
  }

  .checkbox {
    flex-flow: row nowrap;
    width: 90%;
    margin-bottom: 4px;

    label, input {
      display: inline-flex;
      width: auto;
    }
  }

  .highlight {
    background: #ff0;
  }
}